{{with .Site.Data.hero}} {{if .enable}}
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="/images/hero/vancouver-night-v2.jpg"
        alt="Picture of Vancouver at night"
      />
      <div class="container">
        <div class="carousel-caption text-center">
          <h1>We are Nesu</h1>
          <p>
            We assist our clients reach their facility needs and requirements by
            finding the best possible solutions while achieving the best quality
            of work.
          </p>
          <p>
            <a class="btn btn-lg btn-primary btn-hover" href="">Contact us</a>
          </p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/images/hero/cameras-dark.jpg" alt="Picture of CCTV" />
      <div class="container">
        <div class="carousel-caption text-left">
          <h1>Feel peace of mind with us</h1>
          <p>
            When it comes to security of a facility, we achieve a high standard
            including cutting-edge technology on property security, glass
            installation and repairs.
          </p>
          <p>
            <a class="btn btn-lg btn-primary btn-hover" href="#">Learn more</a>
          </p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/images/hero/windows-dark.jpg" alt="Glass solutions" />
      <div class="container">
        <div class="carousel-caption text-right">
          <h1>Glass Solutions for your Facility.</h1>
          <p>
            We cover from start to finish every step of the way on your
            facility, including full glass replacement, repair and installation.
          </p>
          <p>
            <a class="btn btn-lg btn-primary btn-hover" href="#">About us</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

{{end}} {{end}}
