<section id="service">
<h1 class="text-center">Our Services</h1>
<p class="h5 text-center m-5">We assist Business, Owners, Property Managers and End users in attaining to their facility needs and requirements. We do this by providing reliability in every step of our  service. Our philosophy stresses the finding of best viable solution while achieving the best quality of work.</p>
<hr class="featurette-divider" />
<div class="container marketing">
  <!-- START THE FEATURETTES -->
  <div class="row featurette">
    <!-- Featurette #1 -->
    <div class="col-md-7">
      <h2 class="featurette-heading">
        Glass & Windows.
        <span class="text-featurette">Replacements.</span>
      </h2>
      <p class="lead text-justify">
        We <b>offer commercial window replacement solutions for offices, retail spaces, and industrial buildings, focusing on durability and energy efficiency.</b>
        <b>Prompt and reliable service , board ups, emergency high reach areas</b>. We handle everything from emergency repairs to planned replacements.
        
      </p>
      <p class="lead">
        <b>Specialty Glass Installation</b>: Includes tempered glass, laminated glass, frosted glass, and decorative glass options for unique applications.
        <br>
        <b>Weatherproofing and Sealing</b>: Application of weatherproofing solutions and seals to prevent drafts, leaks, and improve overall efficiency.
      </p>
    </div>
    <div class="col-md-5">
      <img
        src="/images/service/windows-service.jpg"
        class="img-featurette"
        alt="Picture of CCTV"
        style="margin-top: 60px;"
      />
    </div>
  </div>
  <hr class="featurette-divider" />

<!-- START THE FEATURETTES -->
  <div class="row featurette">
    <!-- Featurette #1 -->
    <div class="col-md-7">
      <h2 class="featurette-heading">
        Locksmith.
        <span class="text-featurette">Certified.</span>
      </h2>
      <p class="lead text-justify">
       Our skilled and certified locksmiths are dedicated to ensuring your security with prompt, professional, and reliable services. Whether you need <b>emergency lockout assistance, lock repairs, or advanced security installations</b>, we have the expertise to handle all your locksmith requirements.
       
      </p>
      <p class="lead">
       <b>Lock Installation and Repair</b>: Professional installation and repair of locks for doors, windows, and gates. Includes traditional locks, smart locks, and high-security locks. <br>
       <b>Key Duplication and Replacement</b>: Accurate duplication and replacement of keys, including house keys, padlock keys, and specialty keys. <br>
       <b>Rekeying Services</b>: Change the internal mechanism of existing locks to render old keys useless, enhancing home security without replacing the entire lock. <br>
       <b>Access Control Systems</b>: Installation and maintenance of electronic access control systems, including keycard systems, biometric scanners, and remote access solutions. <br>
       <b>Master Key Systems</b>: Design and implement master key systems for businesses, allowing controlled access to multiple areas with a single key. <br>
       <b>High-Security Locks</b>: Installation of advanced high-security locks and safes designed to protect valuable assets and sensitive information. <br>
      </p>
    </div>
    <div class="col-md-5">
      <img
        src="/images/service/locksmith.jpg"
        class="img-featurette"
        alt="Picture of CCTV"
        style="margin-top: 60px;"
      />
    </div>
  </div>
  <hr class="featurette-divider" />




  <hr class="featurette-divider" />
  <!-- Featurette #2 -->
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">
        Access controls. <span class="text-featurette">Fobs.</span>
      </h2>
      <p class="lead text-justify">
        Access control is the management of who goes where and when, keeping track of each person identified with a fob that is allowed specific access on common areas and at specific times. We offer a big variety of key fobs, tags and remotes from the industry leaders like Keyscan, HID, Linear and Mircom, with it's proper installation for everything that your facility needs.
      </p>
    </div>
    <div class="col-md-5" style="margin-top: 5%;">
      <img
        src="/images/service/fob.png"
        class="img-featurette"
        alt="Picture of fobs made by nesu"
      />
    </div>
  </div>

  <hr class="featurette-divider" />
  <!-- Featurette #3 -->
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">
        Electrician. <span class="text-featurette">Low Voltage.</span>
      </h2>
      <p class="lead text-justify">
        With our electrician team specialized on low voltage solutions, providing professional low-voltage electrical services designed to enhance the functionality, safety, and efficiency of your property. We cover the installation of access control systems, CCTV cameras, Video Intercoms, and all telephone and data connectivity requirements in the facility, setup of intercom systems for business environments, including multi-zone communication and integration with other security systems. Installation and maintenance of intrusion detection alarms, fire alarms, and monitoring systems. Ensuring proper infrastructure performance of your systems.
      </p>
    </div>
    <div class="col-md-5">
      <img
        src="/images/service/electrician.jpg"
        class="img-featurette"
        alt="Picture of fobs made by nesu"
      />
    </div>
  </div>

  <hr class="featurette-divider" />

  <div class="row featurette">
    <!-- Featurette #1 -->
    <div class="col-md-7">
      <h2 class="featurette-heading">
        CCTV.
        <span class="text-featurette">Security Surveillance.</span>
      </h2>
      <p class="lead text-justify">
        Closed Circuit Television used for security surveillance for common public access areas, where the presence of these systems will often dissuade possible criminal activity and will keep a record of the areas protected. We offer different types of cameras like dome, bullet, 360 and more.
      </p>
    </div>
    <div class="col-md-5">
      <img
        src="/images/service/cctv.jpg"
        class="img-featurette"
        alt="Picture of CCTV"
      />
    </div>
  </div>

  <hr class="featurette-divider" />
  <!-- /END THE FEATURETTES -->
</section>